.project{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
}
.project h1{
    font-size: 2.4rem;
    margin: 1rem;
}
.project h2{
    font-size: 1.5rem;
    margin: 1rem;
}
.project p{
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
}

.project-container{
    /* max-width: 1140px; */
    margin: auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    padding: 3rem;
}

.project-card{
    background: #1a1919;
    padding: 1.2rem, 1rem;
}

.project-card p{
    margin: 1rem;
}

.project-card:hover{
    transform: scale(1.02);
}
.project-card img{
    width: 100%;
}

.project-title{
    color: #fff;
    padding: 1rem 0;
}

.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btns .btn{
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;

}
.btn:hover{
    transform: scale(1.1);
}

@media (max-width: 1180px) {
    .project-container{
        margin: auto;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    }
}


@media screen and (max-width: 640px){
    .project h1{
        font-size: 2rem;
        margin-left: 70vw;

    }
    .project p{
        width: 100vw;
        font-size: 1.4rem;
        margin-left: 60vw;
    }
    .pro-details p{
        width: 50vw;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        margin-left: 7vw;
        text-align: justify;
    }    

    .project-container{
        margin: auto;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 40px;
        padding: 3rem;
    }




}














/*  */
@media screen and (max-width:600px) {
    #skills h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 70vw;
    }
    .skills-card{
        display: grid;
        width: 85vw;
        margin-left: 40vw;
        grid-gap:10px;

    }    
}